html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
  @media only screen and (min-device-width: 1200px) {
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video, input {
      font-size: 105%; } }

html, body {
  height: 100%;
  overflow-x: hidden; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  overflow-x: hidden;
  margin: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: block; }

body {
  background-color: #171717;
  overflow-x: hidden; }
  @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
    body {
      font-size: 100%;
      overflow-x: hidden; } }

#myTopnav {
  text-align: center;
  padding: 1% 0 0 0; }

.topmenu {
  list-style-type: none; }
  .topmenu li {
    display: inline-block;
    padding: 0.5% 0;
    margin: 0 1%;
    text-transform: uppercase;
    position: relative;
    font-size: 80%; }
    .topmenu li a {
      color: #c9c9c9;
      text-decoration: none; }
    .topmenu li .dropdown {
      position: absolute;
      top: 100%;
      display: none;
      background-color: #171717;
      padding: 10%;
      text-align: left;
      box-shadow: -2px 1.5px 1px #c9c9c9; }
      .topmenu li .dropdown li {
        padding: 5% 0; }

#menuwrapper {
  display: block; }
  @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
    #menuwrapper {
      display: none; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
    #menuwrapper {
      display: none; } }
  @media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
    #menuwrapper {
      display: none; } }
  @media only screen and (min-device-width: 736px) and (max-device-width: 1200px) and (orientation: landscape) {
    #menuwrapper {
      display: none; } }

.topmenu li:hover .dropdown {
  display: block;
  z-index: 1; }

.topmenu li:after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 1px;
  background-color: #c9c9c9;
  content: "";
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.topmenu li:hover {
  color: #c9c9c9; }

.topmenu li:hover:after {
  width: 100%; }

.topmenu .icon {
  display: none; }

.headerwrapper {
  width: 100%;
  padding: 2% 0 0 0;
  height: 15%; }
  .headerwrapper h1 {
    text-align: center;
    font-size: 140%;
    color: #c9c9c9; }
    .headerwrapper h1 a {
      color: #c9c9c9;
      text-decoration: none; }
    @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
      .headerwrapper h1 {
        font-size: 140%; } }
  .headerwrapper h2 {
    text-align: center;
    color: #c9c9c9;
    font-size: 0.9em;
    padding-top: 0.5%; }
  @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
    .headerwrapper {
      padding: 18% 0 0 0;
      height: 12.5%; } }
  @media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
    .headerwrapper {
      padding: 7.5% 0 0 0;
      height: 7.5%; } }
  @media only screen and (min-device-width: 736px) and (max-device-width: 1200px) and (orientation: landscape) {
    .headerwrapper {
      height: 10%; } }

@media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
  .headerwrapper.gallery {
    height: 6.5%;
    padding: 4% 0 2% 0;
    position: fixed;
    z-index: 4;
    background-color: #171717;
    font-size: 80%; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
  .headerwrapper.gallery {
    position: fixed;
    z-index: 4;
    background-color: #171717; } }

@media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
  .headerwrapper.gallery {
    height: 5%;
    padding: 2.5% 0 0 0;
    position: fixed;
    z-index: 4;
    background-color: #171717; } }

.show-menu {
  text-decoration: none;
  padding: 10px 0;
  display: none;
  width: 100%;
  position: fixed;
  text-align: right;
  color: #c9c9c9;
  padding-right: 10px;
  top: 0;
  z-index: 2; }
  @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
    .show-menu {
      display: block;
      font-size: 2em; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
    .show-menu {
      display: block;
      font-size: 2em; } }
  @media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
    .show-menu {
      display: block;
      font-size: 3em; } }
  @media only screen and (min-device-width: 736px) and (max-device-width: 1200px) and (orientation: landscape) {
    .show-menu {
      display: block;
      font-size: 3em; } }

input[type=checkbox] {
  display: none; }

input[type=checkbox]:checked ~ #mobilemenu,
input[type=checkbox]:checked ~ #mobilemenu ul {
  width: 100%;
  background-color: #171717; }
  input[type=checkbox]:checked ~ #mobilemenu li, input[type=checkbox]:checked ~ #mobilemenu li a,
  input[type=checkbox]:checked ~ #mobilemenu ul li,
  input[type=checkbox]:checked ~ #mobilemenu ul li a {
    display: block; }

#mobilemenu {
  display: none;
  position: fixed;
  text-align: center;
  z-index: 2;
  width: 0%;
  height: 100%;
  pointer-events: none;
  -webkit-transition-property: width;
  /* Safari */
  background-color: #171717;
  -webkit-transition-duration: 1s;
  /* Safari */
  transition-duration: 1s; }
  @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
    #mobilemenu {
      display: block; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
    #mobilemenu {
      display: block;
      margin-top: 0px; } }
  @media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
    #mobilemenu {
      display: block; } }
  @media only screen and (min-device-width: 736px) and (max-device-width: 1200px) and (orientation: landscape) {
    #mobilemenu {
      display: block; } }

/*Make all menu links full width*/
#mobilemenu ul li, #mobilemenu ul li a {
  display: none;
  pointer-events: auto;
  width: 100%; }

#mobilemenu ul li a {
  text-decoration: none;
  color: #c9c9c9;
  padding: 7% 0;
  font-size: 2em; }
  @media only screen and (min-device-width: 736px) and (max-device-width: 1200px) and (orientation: landscape) {
    #mobilemenu ul li a {
      padding: 5% 0; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
    #mobilemenu ul li a {
      padding: 2% 0; } }
  @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
    #mobilemenu ul li a {
      padding: 10% 0; } }

body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%; }

#overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: #000;
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-y: hidden;
  /* Disable vertical scroll */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */ }

/* Position the content inside the overlay */
/* When you mouse over the navigation links, change their color*/
#overlay a:hover, #overlay a:focus {
  color: #f1f1f1; }

/* Position the close button (top right corner) */
#overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #818181;
  text-decoration: none;
  transition: 0.3s;
  z-index: 10; }
  @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
    #overlay .closebtn {
      top: 60px;
      right: 5px; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
    #overlay .closebtn {
      top: 25px;
      right: 5px; } }
  @media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
    #overlay .closebtn {
      top: 50px;
      right: 5px; } }
  @media only screen and (min-device-width: 736px) and (max-device-width: 1200px) and (orientation: landscape) {
    #overlay .closebtn {
      top: 50px;
      right: 20px; } }

.overlay-content {
  height: 100%; }

#contact-content {
  height: 40%;
  width: 500px;
  padding: 30px;
  background: #f1f1f1;
  margin: 10% auto;
  font-size: 70%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22); }
  @media only screen and (min-device-width: 1200px) {
    #contact-content {
      height: 40%;
      width: 600px; } }
  @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
    #contact-content {
      height: 100%;
      width: 100%;
      margin: 10% auto 0 auto;
      padding: 0; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
    #contact-content {
      height: 100%;
      width: 100%;
      margin: 0 auto; } }
  @media only screen and (min-device-width: 736px) and (max-device-width: 1200px) and (orientation: landscape) {
    #contact-content {
      width: 600px; } }
  @media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
    #contact-content {
      height: 100%;
      width: 100%;
      margin: 0 auto; } }

.overlay-content h3 {
  background: #353535;
  text-transform: uppercase;
  text-align: center;
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px; }
  @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
    .overlay-content h3 {
      background: #171717;
      margin-bottom: 90px; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
    .overlay-content h3 {
      background: #171717;
      padding: 12.5px 20px 10px 20px; } }
  @media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
    .overlay-content h3 {
      background: #171717; } }

.overlay-content #contact-content div {
  float: left;
  width: 50%; }
  @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
    .overlay-content #contact-content div {
      width: 90%;
      padding: 10% 15% 25% 5%; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
    .overlay-content #contact-content div {
      width: 100%; } }
  @media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
    .overlay-content #contact-content div {
      width: 90%;
      padding: 10% 15% 0 1%; } }

.overlay-content #contact-content .contact-info {
  text-align: center;
  padding: 10% 0;
  line-height: 1.5em;
  color: #171717; }
  @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
    .overlay-content #contact-content .contact-info {
      display: none; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
    .overlay-content #contact-content .contact-info {
      display: none; } }
  @media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
    .overlay-content #contact-content .contact-info {
      width: 100%;
      font-size: 1.3em;
      padding-top: 15%; } }

.overlay-content div input[type="text"],
.overlay-content div input[type="email"],
.overlay-content div textarea,
.overlay-content div select {
  font-size: 1em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  height: 45px; }

.overlay-content div textarea {
  resize: none;
  overflow: hidden; }

.overlay-content div input[type="button"],
.overlay-content div input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #d49482;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d49482;
  box-shadow: inset 0px 1px 0px 0px #d49482;
  background-color: #C06349;
  border: 1px solid #e7c4bb;
  display: inline-block;
  cursor: pointer;
  color: #f1f1f1;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase; }
  @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
    .overlay-content div input[type="button"],
    .overlay-content div input[type="submit"] {
      background-color: black; } }

.overlay-content div input[type="button"]:hover,
.overlay-content div input[type="submit"]:hover {
  background: linear-gradient(to bottom, #C06349 5%, #d49482 100%);
  background-color: #C06349; }
  @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
    .overlay-content div input[type="button"]:hover,
    .overlay-content div input[type="submit"]:hover {
      background: linear-gradient(to bottom, #C06349 5%, #e7c4bb 100%);
      background-color: #C06349; } }

/* About Section style */
#about-content {
  display: block;
  clear: both;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  #about-content .about-wrapper {
    float: left;
    width: 100%;
    height: 100%;
    position: relative; }
    #about-content .about-wrapper .about-left {
      float: left;
      position: relative;
      overflow: hidden;
      width: 50%; }
      #about-content .about-wrapper .about-left img {
        max-width: 100%; }
        @media only screen and (min-device-width: 1200px) {
          #about-content .about-wrapper .about-left img {
            width: 100%; } }
        @media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
          #about-content .about-wrapper .about-left img {
            height: 100%;
            max-width: none;
            margin-left: -30%; } }
      @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
        #about-content .about-wrapper .about-left {
          width: 0%; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
        #about-content .about-wrapper .about-left {
          width: 0%; } }
      @media only screen and (min-device-width: 736px) and (max-device-width: 1200px) and (orientation: landscape) {
        #about-content .about-wrapper .about-left {
          width: 50%; } }
    #about-content .about-wrapper .about-right {
      float: left;
      position: relative;
      overflow: hidden;
      width: 50%;
      height: 100%; }
      #about-content .about-wrapper .about-right .about-text {
        color: #c9c9c9;
        font-size: 0.75em;
        line-height: 1.2em;
        padding-left: 10%;
        padding-right: 10%; }
        @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
          #about-content .about-wrapper .about-right .about-text {
            padding-left: 3%;
            padding-right: 3%; } }
        @media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
          #about-content .about-wrapper .about-right .about-text {
            padding-left: 5%;
            padding-right: 5%;
            line-height: 1.5em; } }
      #about-content .about-wrapper .about-right hr {
        width: 35%; }
      #about-content .about-wrapper .about-right h4 {
        padding-top: 9%;
        text-align: center; }
        @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
          #about-content .about-wrapper .about-right h4 {
            padding-top: 25%; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
          #about-content .about-wrapper .about-right h4 {
            padding-top: 5%; } }
        @media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
          #about-content .about-wrapper .about-right h4 {
            padding-top: 40%; } }
        @media only screen and (min-device-width: 736px) and (max-device-width: 1200px) and (orientation: landscape) {
          #about-content .about-wrapper .about-right h4 {
            padding-top: 15%; } }
      #about-content .about-wrapper .about-right p {
        padding-bottom: 30%;
        padding-top: 2%;
        text-align: justify; }
      @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
        #about-content .about-wrapper .about-right {
          width: 100%; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
        #about-content .about-wrapper .about-right {
          width: 100%;
          font-size: 0.5em; } }
      @media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
        #about-content .about-wrapper .about-right {
          font-size: 1.15em; } }
      @media only screen and (min-device-width: 736px) and (max-device-width: 1200px) and (orientation: landscape) {
        #about-content .about-wrapper .about-right {
          width: 50%;
          font-size: 1.25em; } }

#scrollleft,
#scrollright {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: 30px;
  height: 100%;
  display: table;
  text-align: center;
  color: #c9c9c9;
  background-color: #171717;
  overflow: hidden;
  z-index: 1;
  padding: 0;
  cursor: pointer;
  font-size: 24px;
  opacity: 0.75; }
  @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
    #scrollleft,
    #scrollright {
      background-color: transparent; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
    #scrollleft,
    #scrollright {
      background-color: transparent; } }
  @media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
    #scrollleft,
    #scrollright {
      background-color: transparent; } }
  @media only screen and (min-device-width: 736px) and (max-device-width: 1200px) and (orientation: landscape) {
    #scrollleft,
    #scrollright {
      background-color: transparent; } }

#scrollleft div,
#scrollright div {
  display: table-cell;
  vertical-align: middle; }

@media only screen and (min-device-width: 1200px) {
  #scrollleft:hover,
  #scrollright:hover,
  #imgPanel #scrollleft:hover,
  #imgPanel #scrollright:hover {
    color: #171717;
    background-color: #c9c9c9; } }

#scrollleft {
  left: 0%; }

#scrollright {
  right: 0%; }

#sliderwrapper {
  position: relative;
  height: 70%;
  width: 100%; }
  #sliderwrapper #slidercontainer {
    transition: transform 0.5s;
    position: absolute;
    transform: translate(265.5px);
    font-size: 0;
    white-space: nowrap;
    overflow-x: hidden;
    height: 100%; }
    #sliderwrapper #slidercontainer li {
      display: inline; }
      #sliderwrapper #slidercontainer li .photos {
        display: initial;
        max-height: 100%;
        opacity: 0.4; }
        @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
          #sliderwrapper #slidercontainer li .photos {
            width: 375px; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
          #sliderwrapper #slidercontainer li .photos {
            width: 375px; } }
    @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
      #sliderwrapper #slidercontainer {
        transform: translate(187.5px); } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
      #sliderwrapper #slidercontainer {
        transform: translate(187.5px); } }
  @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
    #sliderwrapper {
      height: 52%; } }

.notransition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

#footerwrapper {
  margin: 0;
  height: 9%; }
  #footerwrapper #socialcontainer {
    font-size: 0;
    margin: 1.5% 45% 0 45%; }
    #footerwrapper #socialcontainer li {
      display: inline; }
      #footerwrapper #socialcontainer li .social {
        display: initial;
        margin: 0 calc((100% - (18px + 18px + 31px)) / 6);
        height: 18px;
        width: auto; }
    @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
      #footerwrapper #socialcontainer {
        margin: 1.5% 30% 0 30%; } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
      #footerwrapper #socialcontainer {
        margin: 1.5% 30% 0 30%; } }
    @media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
      #footerwrapper #socialcontainer {
        margin: 4% 40% 0 40%; } }
  #footerwrapper #velodesign {
    color: #c9c9c9;
    text-align: center;
    font-size: 0.7em;
    margin: 1.5% 0 0 0; }

#mobilefooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  column-count: 2;
  column-gap: 0px;
  -webkit-column-count: 2;
  -webkit-column-gap: 0px;
  -moz-column-count: 2;
  -moz-column-gap: 0px;
  display: none; }
  #mobilefooter .box {
    border-style: solid;
    border-width: 4px;
    padding: 5% 0; }
    #mobilefooter .box a {
      text-decoration: none;
      display: block;
      font-size: 1.25em; }
    @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
      #mobilefooter .box {
        padding: 4% 0; } }
    @media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
      #mobilefooter .box {
        padding: 5% 0; } }
  #mobilefooter .left {
    border-color: #171717;
    background-color: #c9c9c9; }
    #mobilefooter .left a {
      color: #171717; }
  #mobilefooter .right {
    border-color: #171717;
    background-color: #171717; }
    #mobilefooter .right a {
      color: #c9c9c9; }
  @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
    #mobilefooter {
      display: block; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
    #mobilefooter {
      display: block; } }
  @media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
    #mobilefooter {
      display: block; } }

#imgPanel {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 1000; }
  #imgPanel .lightboxcontainer {
    position: absolute;
    height: 100%;
    width: 100%; }

#imgPanel .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #818181;
  text-decoration: none;
  transition: 0.3s;
  z-index: 9;
  cursor: pointer;
  overflow: hidden;
  text-shadow: 0px 0px 3px #6d6d6d;
  -webkit-transition: all ease 200ms;
  -moz-transition: all ease 200ms;
  -o-transition: all ease 200ms;
  transition: all ease 200ms; }

#imgPanel a:hover, #imgPanel a:focus {
  color: #f1f1f1; }

#lightbox {
  height: 100%;
  width: auto;
  margin: 0 auto; }
  @media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
    #lightbox {
      height: auto;
      width: 100%; } }
  @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
    #lightbox {
      height: auto;
      width: 100%; } }

.gallerycontainer {
  column-count: 3;
  column-gap: 0px;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px; }
  .gallerycontainer div {
    position: relative; }
    .gallerycontainer div img {
      width: 100% !important;
      height: auto !important; }
    .gallerycontainer div p {
      position: absolute;
      display: none;
      font-size: 6em;
      text-decoration: none;
      color: #171717;
      bottom: 5%;
      right: 5%; }
  .gallerycontainer img {
    width: 100% !important;
    height: auto !important; }
  @media only screen and (min-device-width: 0px) and (max-device-width: 450px) and (orientation: portrait) {
    .gallerycontainer {
      margin-top: 12.5%;
      column-count: 1;
      column-gap: 0px;
      -webkit-column-count: 1;
      -webkit-column-gap: 0px;
      -moz-column-count: 1;
      -moz-column-gap: 0px; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
    .gallerycontainer {
      margin-top: 12.5%;
      column-count: 1;
      column-gap: 0px;
      -webkit-column-count: 1;
      -webkit-column-gap: 0px;
      -moz-column-count: 1;
      -moz-column-gap: 0px; } }
  @media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (orientation: portrait) {
    .gallerycontainer {
      margin-top: 7.5%; } }

.gallerycontainer div:hover {
  background-color: white;
  cursor: pointer; }
  .gallerycontainer div:hover p {
    display: block; }
  .gallerycontainer div:hover img {
    opacity: 0.7; }

#loading {
  background-color: #171717;
  color: #f1f1f1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
  display: block; }

#loading div {
  position: relative;
  top: 50%; }
