// gallery.scss
// ==============

#imgPanel {
    .lightboxcontainer {
        position: absolute;
        height: 100%;
        width: 100%;
        @include bp(phone-portrait){
            display: table;
        }
        @include bp(tablet-portrait) {
            display: table;
        }
    }
    position: fixed;
    background: rgba(0,0,0, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
}

#imgPanel .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: $grey;
    text-decoration: none;
    transition: 0.3s;
    z-index: 9;
    cursor: pointer;
    overflow: hidden;
    text-shadow: 0px 0px 3px #6d6d6d;
    -webkit-transition: all ease 200ms;
    -moz-transition: all ease 200ms;
    -o-transition: all ease 200ms;
    transition: all ease 200ms;
}
#imgPanel a:hover, #imgPanel a:focus {
    color: $white;
}

#lightbox {
    height: 100%;
    width: auto;
    margin: 0 auto;
    @include bp(tablet-portrait) {
        height:auto;
        width: 100%;
        //margin: auto 0;
    }
    @include bp(phone-portrait) {
        height:auto;
        width: 100%;
        //margin: auto 0;
    }
}

.imgwrap {
    @include bp(phone-portrait) {
        display: table-cell;
        vertical-align: middle;
    }
    @include bp(tablet-portrait) {
        display: table-cell;
        vertical-align: middle;
    }
}

.gallerycontainer {
    div {
        img {
            width: 100% !important;
            height: auto !important;
        }
        p {
            position:absolute;
            display: none;
            font-size: 6em;
            text-decoration: none;
            color: $darkgrey;
            bottom: 5%;
            right: 5%;
        }
        position:relative;
    }
    img {
        width: 100% !important;
        height: auto !important;
    }
    column-count: 3;
    column-gap: 0px;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    @include bp(phone-portrait) {
        margin-top: 12.5%;
        column-count: 1;
        column-gap: 0px;
        -webkit-column-count: 1;
        -webkit-column-gap: 0px;
        -moz-column-count:1;
        -moz-column-gap: 0px;
    }
    @include bp(phone-landscape) {
        margin-top: 12.5%;
        column-count: 1;
        column-gap: 0px;
        -webkit-column-count: 1;
        -webkit-column-gap: 0px;
        -moz-column-count:1;
        -moz-column-gap: 0px;
    }
    @include bp(tablet-portrait) {
        margin-top: 7.5%;
    }
}
.gallerycontainer div:hover {
    p {
        display: block;
        @include bp(phone-portrait) {

        }
    }
    img {
        opacity: 0.7;
        @include bp(phone-portrait) {

        }
    }
    background-color:white;
    cursor: pointer;

}

#loading {
    background-color:$darkgrey;
    color:$white;
    position:absolute;
    left:0;top:0;bottom:0;right:0;
    width:100%;
    height:100%;
    text-align:center;
    vertical-align:middle;
    z-index: 1;
    display: block;
}
#loading div { position:relative; top: 50%; }
