// gallery.scss
// ==============

#imgPanel {
    .lightboxcontainer {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    position: fixed;
    background: rgba(0,0,0, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
}

#imgPanel .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: $grey;
    text-decoration: none;
    transition: 0.3s;
    z-index: 9;
    cursor: pointer;
    overflow: hidden;
    text-shadow: 0px 0px 3px #6d6d6d;
    -webkit-transition: all ease 200ms;
    -moz-transition: all ease 200ms;
    -o-transition: all ease 200ms;
    transition: all ease 200ms;
}
#imgPanel a:hover, #imgPanel a:focus {
    color: $white;
}

#lightbox {
    height: 100%;
    margin: 0 auto;
}

.gallerycontainer {
    div {
        img {
            width: 100% !important;
            height: auto !important;
        }
        p {
            position:absolute;
            display: none;
            font-size: 6em;
            text-decoration: none;
            color: $darkgrey;
            bottom: 5%;
            right: 5%;
        }
        position:relative;
    }
    img {
        width: 100% !important;
        height: auto !important;
    }
    column-count: 3;
    column-gap: 0px;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count:3;
    -moz-column-gap: 0px;
}
.gallerycontainer div:hover {
    p {
        display: block;
    }
    img {
        opacity: 0.4;
    }
    background-color:white;
    cursor: pointer;
}
