// header.scss
// ==============

#myTopnav {
    text-align:center;
    padding: 1% 0 0 0;
}

.topmenu {
    li {
        a {
        color: $lightgrey;
        text-decoration: none;
        }
        .dropdown {
            li {
                padding: 5% 0;
            }
            position: absolute;
            top: 100%;
            //left: -20%;
            display: none;
            background-color: $darkgrey;
            padding: 10%;
            text-align: left;
                box-shadow: -2px 1.5px 1px $lightgrey;
        }
        display: inline-block;
        padding: 0.5% 0;
        margin: 0 1%;
        text-transform: uppercase;
        position: relative;
    }
    list-style-type: none;
}

.topmenu li:hover {
        .dropdown {
        display: block;
        z-index: 1;
    }
}
.topmenu li:after {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 1px;
    background-color: $lightgrey;
    content: "";
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.topmenu li:hover {
  color: $lightgrey;
}
.topmenu li:hover:after {
  width: 100%;
}

.topmenu {
    .icon {
        display: none;
    }
}

.headerwrapper{
    h1 {
        text-align: center;
		font-size: 150%;
        color: $lightgrey;
    }
    h2 {
        text-align: center;
        color: $lightgrey;
        font-size: 0.9em;
        padding-top: 0.5%;
    }
    width: 100%;
    padding: 2% 0 0 0;
    height: 15%;
}

// Mobile Menu ==============
.show-menu {
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 20px 0;
	display: none;
    width: 100%;
    position: fixed;
    z-index: 1;
}

input[type=checkbox] {
    width: 0%;
}

input[type=checkbox]:checked ~ #mobilemenu,
input[type=checkbox]:checked ~ #mobilemenu ul {
    li, li a {
        display: block;
    }
    width: 100%;

}

#mobilemenu {
	display: block;
    position: fixed;
    text-align: center;
    z-index: 2;
    width: 0%;
    height: 100%;
    pointer-events: none;
    -webkit-transition-property: width; /* Safari */
    background-color: $darkgrey;
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}

/*Make all menu links full width*/
#mobilemenu ul li, #mobilemenu ul li a {
	display: none;
    pointer-events: auto;
    width: 100%;
}
#mobilemenu ul li a {
    text-decoration: none;
    color: $lightgrey;
    padding: 1% 0;
}
/*Display 'show menu' link*/
.show-menu {
	display:block;
    content: "\203A";
}
