// main.scss
// Main style sheet
// ==============

body {
    background-color: $darkgrey;
    overflow-x: hidden;
    @include bp(phone-portrait) {
        font-size: 100%;
        overflow-x: hidden;
    }
}
