// overlay.scss
// ==============
body.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

#overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: $black; /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-y: hidden; /* Disable vertical scroll */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
/* Position the content inside the overlay */


/* When you mouse over the navigation links, change their color*/
#overlay a:hover, #overlay a:focus {
    color: $white;
}

/* Position the close button (top right corner) */
#overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: $grey;
    text-decoration: none;
    transition: 0.3s;
}

//Form style
.overlay-content {
    height: 40%;
    width: 500px;
    padding: 30px;
    background: $white;
    margin: 10% auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}
.overlay-content h3{
    background: darken($grey, 30%);
    text-transform: uppercase;
    text-align: center;
    color: $white;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.overlay-content {
    div {
        float: left;
        width: 50%;
    }
    .contact-content {
        text-align: center;
        padding: 10% 0;
        line-height: 1.5em;
        color: $darkgrey;
    }
}

.overlay-content div input[type="text"],
.overlay-content div input[type="email"],
.overlay-content div textarea,
.overlay-content div select
{
    font-size: 1em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    height: 45px;
}
.overlay-content div textarea{
    resize:none;
    overflow: hidden;
}
.overlay-content div input[type="button"],
.overlay-content div input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px lighten($pink, 15%);
    -webkit-box-shadow: inset 0px 1px 0px 0px lighten($pink, 15%);
    box-shadow: inset 0px 1px 0px 0px lighten($pink, 15%);
    background-color: $pink;
    border: 1px solid lighten($pink, 30%);
    display: inline-block;
    cursor: pointer;
    color: $white;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.overlay-content div input[type="button"]:hover,
.overlay-content div input[type="submit"]:hover {
    background:linear-gradient(to bottom, $pink 5%, lighten($pink, 15%) 100%);
    background-color:$pink;
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    #overlay a {font-size: 20px}
    #overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
