// slider.scss
// ==============

#scrollleft,
#scrollright {
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    width: 30px;
    height: 100%;
    display: table;
    text-align: center;
    color: $lightgrey;
    background-color: $darkgrey;
    overflow: hidden;
    z-index: 1;
    padding: 0;
    cursor: pointer;
    font-size: 24px;
    opacity: 0.75;
    @include bp(phone-portrait) {
        background-color:transparent;
    }
    @include bp(phone-landscape) {
        background-color:transparent;
    }
    @include bp(tablet-portrait) {
        background-color:transparent;
    }
    @include bp(tablet-landscape) {
        background-color:transparent;
    }
}
#scrollleft div,
#scrollright div {
    display: table-cell;
    vertical-align: middle;
}
#scrollleft:hover,
#scrollright:hover,
#imgPanel #scrollleft:hover,
#imgPanel #scrollright:hover  {
    @include bp(desktop) {
        color: $darkgrey;
        background-color: $lightgrey;
    }
}
#scrollleft {
    left: 0%;
}
#scrollright {
    right: 0%;
}
#sliderwrapper {
    #slidercontainer {
        li {
            .photos {
                display: initial;
                max-height:100%;
                //max-width: auto;
                opacity:0.4;
                @include bp(phone-portrait) {
                    width: 375px;
                }
                @include bp(phone-landscape) {
                    width: 375px;
                }
            }
            display:inline;
        }
        transition: transform 0.5s;
        position:absolute;
        transform: translate(265.5px);
        font-size: 0;
        white-space: nowrap;
        overflow-x: hidden;
        height:100%;
        @include bp(phone-portrait) {
            transform: translate(187.5px);
            //padding-top: 10%;
        }
        @include bp(phone-landscape) {
            transform: translate(187.5px);
        }
    }
    position: relative;
    height:70%;
    width:100%;
    @include bp(phone-portrait) {
        height:52%;
    }
    @include bp(tablet-portrait) {

    }
}
.notransition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
