// slider.scss
// ==============

#scrollleft,
#scrollright {
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    width: 30px;
    height: 100%;
    line-height: 2000%;
    display: inline-block;
    text-align: center;
    //color: $darkgrey;
    color: $lightgrey;
    //background-color: $lightgrey;
    background-color: $darkgrey;
    overflow: hidden;
    z-index: 1;
    padding: 0;
    //border-radius: 30%;
    cursor: pointer;
    font-size: 24px;
    opacity: 0.75;
}
#scrollleft:hover,
#scrollright:hover,
#imgPanel #scrollleft:hover,
#imgPanel #scrollright:hover  {
    //color: $lightgrey;
    color: $darkgrey;
    //background-color: $darkgrey;
    background-color: $lightgrey;
}
#scrollleft {
    left: 0%;
}
#scrollright {
    right: 0%;
}
#sliderwrapper {
    #slidercontainer {
        li {
            .photos {
                display: initial;
                max-height:100%;
                opacity:0.4;
                @include respond-to(xlarge) {
                    height: 100%;
                }
            }
            display:inline;
        }
        transition: transform 0.5s;
        position:absolute;
        transform: translate(265.5px);
        font-size: 0;
        white-space: nowrap;
        overflow-x: hidden;
        height:100%;
    }
    position: relative;
    height:70%;
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
