// _variables.scss
// =================

//Colors
$white          : #f1f1f1;
$grey           : #818181;
$black          : #000;
$darkgrey       : darken(#363636, 12%);
$lightgrey      : #c9c9c9;
$pink           : #C06349;
