// style.scss
// ==============
//Core partials
@import "variables";
@import "reset";


.container{
    h1 {
        text-align: center;
		font-size: 150%;
		line-height: 140%;
		padding: 1%;
    }
    width: 100%;
}

.gallery, .contact{
	h2{
		position: absolute;
		top: 40%;
		left:-10%;
		z-index: -1;
		color:$red;
		font-size: 1000%;
		font-weight: bolder;
	}
	@extend .container;
    overflow: auto;
	position: relative;
}
.backtext{
	position:relative;
}

.column-left,
.column-right,
.column-left::before,
.column-right::before{
	width: 50%;
}

.column-right,
.column-left{
	float: left;
}

.column-left::before,
.column-right::before{
	content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -2;
	background-color: $grey;
}

.column-right,
.column-right::before{
	left:50%;
}

ul{
	position:absolute;
	top:10%;
	left:65%;
	font-size:200%;
	line-height:2.0;
}

.nocolumn{
    div {
        height: 80%;
        width: 80%;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    clear:both;
    text-align:center;
    height: 200px;
}
