html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html, body {
  height: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  overflow-x: hidden;
  margin: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: block; }

body {
  background-color: #363636; }

#myTopnav {
  text-align: center;
  padding: 2% 0; }

.topmenu {
  list-style-type: none; }
  .topmenu li {
    display: inline;
    padding: 0 1%;
    text-transform: uppercase; }
    .topmenu li a {
      transition: 0.3s;
      color: #c9c9c9;
      text-decoration: none; }

.topmenu .icon {
  display: none; }

.headerwrapper {
  width: 100%;
  margin: 2.5% 0 0 0; }
  .headerwrapper h1 {
    text-align: center;
    font-size: 150%;
    color: #c9c9c9; }
  .headerwrapper h2 {
    text-align: center;
    color: #c9c9c9; }

body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%; }

#overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: #000;
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-y: hidden;
  /* Disable vertical scroll */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */ }

/* Position the content inside the overlay */
/* When you mouse over the navigation links, change their color*/
#overlay a:hover, #overlay a:focus {
  color: #f1f1f1; }

/* Position the close button (top right corner) */
#overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #818181;
  text-decoration: none;
  transition: 0.3s; }

.overlay-content {
  height: 100%; }

#contact-content {
  height: 40%;
  width: 500px;
  padding: 30px;
  background: #f1f1f1;
  margin: 10% auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22); }

.overlay-content h3 {
  background: #353535;
  text-transform: uppercase;
  text-align: center;
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px; }

.overlay-content #contact-content div {
  float: left;
  width: 50%; }

.overlay-content #contact-content .contact-info {
  text-align: center;
  padding: 10% 0;
  line-height: 1.5em;
  color: #363636; }

.overlay-content div input[type="text"],
.overlay-content div input[type="email"],
.overlay-content div textarea,
.overlay-content div select {
  font-size: 1em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  height: 45px; }

.overlay-content div textarea {
  resize: none;
  overflow: hidden; }

.overlay-content div input[type="button"],
.overlay-content div input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #d49482;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d49482;
  box-shadow: inset 0px 1px 0px 0px #d49482;
  background-color: #C06349;
  border: 1px solid #e7c4bb;
  display: inline-block;
  cursor: pointer;
  color: #f1f1f1;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase; }

.overlay-content div input[type="button"]:hover,
.overlay-content div input[type="submit"]:hover {
  background: linear-gradient(to bottom, #C06349 5%, #d49482 100%);
  background-color: #C06349; }

/* About Section style */
#about-content {
  height: 100%; }
  #about-content .about-wrapper {
    height: 100%; }
    #about-content .about-wrapper .img-left {
      height: 100%;
      width: 50%;
      float: left; }
      #about-content .about-wrapper .img-left img {
        width: 50%;
        float: left; }
    #about-content .about-wrapper .right {
      height: 100%;
      width: 50%;
      float: left; }
      #about-content .about-wrapper .right p {
        color: #c9c9c9;
        text-align: center; }

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  #overlay a {
    font-size: 20px; }
  #overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

#scrollleft,
#scrollright {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: 50px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-align: center;
  color: #363636;
  background-color: #c9c9c9;
  overflow: hidden;
  z-index: 1;
  padding: 0;
  border-radius: 30%;
  cursor: pointer;
  font-size: 24px; }

#scrollleft {
  left: 0%; }

#scrollright {
  right: 0%; }

#sliderwrapper {
  position: relative;
  height: 75%; }
  #sliderwrapper #slidercontainer {
    transition: transform 0.5s;
    position: absolute;
    transform: translate(265.5px);
    font-size: 0;
    white-space: nowrap;
    overflow-x: hidden;
    height: 100%; }
    #sliderwrapper #slidercontainer li {
      display: inline; }
      #sliderwrapper #slidercontainer li .photos {
        display: initial;
        max-height: 100%;
        opacity: 0.4; }

#footerwrapper {
  margin: 2% 0 1% 0; }
  #footerwrapper #socialcontainer {
    font-size: 0;
    margin: 0 45%; }
    #footerwrapper #socialcontainer li {
      display: inline; }
      #footerwrapper #socialcontainer li .social {
        display: initial;
        margin: 0 calc((100% - (18px + 18px + 31px)) / 6);
        height: 18px;
        width: auto; }
  #footerwrapper #velodesign {
    color: #c9c9c9;
    text-align: center;
    font-size: 0.7em;
    margin: 2% 0 1% 0; }
